body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    background-color: rgb(18, 16, 60);
    padding: 100px 200px; /* Aangepaste padding voor de footer */
    color: rgb(251, 249, 219);
    margin-top: auto;
    display: flex; /* Zet de footer als een flex-container */
    justify-content: space-between; /* Verdeel ruimte tussen de items */
    align-items: flex-start; /* Uitlijning aanpassen */
}
footer a{
    color: #fcf9d6;
}
.footer-content {
    display: flex;
    align-items: flex-start; /* Uitlijning van de linkerinhoud */
}
.footer-interest {
    font-family: Brevia, sans-serif;
    color: #F8AD42;
    font-size: 42px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.email-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
}
.white-line {
    width: 40%;
    background-color: white;
    height: 0.5px; /* Correcte waarde */
    margin: 10px 0;
}
.email-text {
    color: white;
    margin-bottom: 5px;
}
.email-confirm {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.arrow {
    color: white;
    margin-left: 5px;
}
.footer-right-content {
    text-align: left !important; /* Algemene uitlijning van de rechterinhoud */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px; /* Aangepaste ruimte boven de rechterinhoud */
}
.footer-right-content h3 {
    margin-top: 10px; /* Verminder de ruimte boven de kopjes */
}
.footer-right-content h3:first-of-type {
    margin-top: 20px; /* Extra marge boven de eerste kop (Contact) */
}
.footer-right-content p {
    margin-bottom: 5px; /* Ruimte tussen de contactgegevens */
}
/* Aanpassingen voor social media iconen */
.footer-right-content .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.footer-right-content .social-icons img{
    width: 50px;
}
/* Aanpassingen voor het menu */
.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Uitlijning van het menu naar links */
    text-align: left; /* Uitlijning van tekst in menu-items naar links */
}
.footer-menu h3 {
    margin-top: 0;
}
.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; /* Uitlijning van menu-items naar links */
}
.footer-menu ul li {
    margin-right: 20px;
}
.footer-menu ul li:last-child {
    margin-right: 0;
}
/* Extra ruimte tussen subkoppen en "Contact" */
.footer-right-content h3:not(:first-of-type) {
    margin-top: 20px; /* Extra ruimte tussen subkoppen en "Contact" */
}