html, body {
    margin: 0;
}
#parallax {
    width: 100%;
    overflow: hidden;
}
#additional-content{
    height: 100vh;
}
.parallax-container {
    /* position: relative; */
    width: 100vw;
    overflow-y: visible;
    overflow-x: hidden;
    height: 100vh;
}
.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-out;
    transform-origin: center;
}
.sun-reflection {
    height: 50dvh;
    position: absolute;
    top: 0;
    z-index: 1;
}
.background {
    background: linear-gradient(0deg, rgba(250,172,64,1) 0%, rgba(240,96,62,1) 30%, rgba(221,37,87,1) 65%, rgba(65,55,141,1) 100%);
    height: 50dvh;
    top: 0;
    width: 100%;
    position: absolute;
}
.sun {
    background-image: url(./images/Sun.png);
    width: 100%;
    background-position: center;
    height: 100%;
    position: absolute;
    transform: scale(0.8);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -120px;
}
.reflection {
    z-index: 3;
    background: linear-gradient(180deg, rgba(232,86,49,1) 0%, rgba(142,32,96,1) 100%);
    height: 50dvh;
    bottom: 0;
}
.yoga {
    background-image: url(./images/Yoga-outlines.png);
    z-index: 4;
    background-size: contain;
    background-repeat: no-repeat;
}
.beach {
    background-image: url(./images/Beach.png);
    z-index: 5;
    transform: translateY(80px);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}