
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: rgb(18, 16, 60);
    padding: 150px 0 50px; 
    color: rgb(251, 249, 219);
    margin-top: auto; 
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-info,
.footer-links {
    text-align: center; 
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}



.footer-bottom {
    text-align: center;
    padding-top: 150px;
   
    font-size: 0.8em;
}




.footer-interest {
    font-family: Brevia, sans-serif;
    color: #F8AD42;
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.white-line {
    width: 40%; 
    background-color: white; 
    height: 2px; 
    margin: 10px 10px; 
}

.email-text, .arrow {
    color: white;
    margin: 0 5px; 
}



